@font-face {
    font-family: Storybook;
    src: url("font/Storybook.ttf");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #282828;
    --bold-text-color: #280800;
    --back-color: #ffffff;
    --card-color: #e0e4e8;
    --read-color: #ffdfdf;
    --card-border-color: #445566;
    --read-border-color: #94331a;

    font-size: 14px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #d0c8d0;
        --bold-text-color: #fff8e8;
        --back-color: #000000;
        --card-color: #1b2028;
        --read-color: #301410;
    }
}

body {
    font-family: sans-serif;
    text-align: center;
    color: var(--text-color);
    background: var(--back-color);
}

h1 {
    font-family: Storybook, Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 3rem;
    color: var(--bold-text-color);
    margin: 1rem;
}

/* Book list */

#book-list {
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-rows: 14rem;
    gap: 1rem;
}

.book {
    text-align: center;
    background-color: var(--card-color);
    border: 0.2rem solid var(--card-border-color);
    border-radius: 0.4rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.book .title-line, .book .author-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bold-text-color);
}

.book .title-line {
    font-weight: bold;
    font-size: 1.25rem;
}

.book .author-line {
    margin-bottom: auto;
    font-size: 1.1rem;
}

.book.read {
    background-color: var(--read-color);
    border-color: var(--read-border-color);
}

/* New book form */

#new-book-form {
    
}