:root {
    --text-color: #202020;
    --back-color: #e8e8e8;
}

body {
    font-family: sans-serif;
    color: var(--text-color);
    background: var(--back-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #e8e8e8;
        --back-color: #202020;
    }
}